{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'image/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Covid19 Tracker</title>

  </head>
  <body>

    <nav class="navbar">
      <div class="title">
        <img src="{% static 'image/covid19.png' %}" class="title_img" alt="Covid19 Tracker">
      </div>
    </nav>

    <div class="container">

      <ul class="nav justify-content-center m-2 p-2">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'search' %}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active rounded" href="#">Vaccine Slot Availability</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
      </ul>

      <form class="m-2 p-2" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="col">
            <input type="text" id="pin_code" name="pin_code" class="form-control" placeholder="Enter Pin Code (Example: 620015)" required = required>
          </div>
          <div class="col">
            <input type="text" id="date" name="date" class="form-control" placeholder="Enter Date (Example: 03-07-2021)" required = required>
            <br>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-md btn-primary">Submit</button>
      </form>

      <br>
      <p><h5>Note:</h5></p>
      <p>1. Vaccine Slot Availability works only for <b>Indian Pin Codes.</b></p>
      <p>2. Data is taken from official government website using the API.</p>
      <p>3. To book the vaccine slots, you have to visit the official Indian government website.</p>
      <br>
      
      {% for all_data in data %}
      <table style="border: 2px solid rgb(104, 65, 65);border-collapse: collapse">
            {% for key, value in all_data.items %}
            <tr>
                <th>{{key}}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
      </table>
      <br><hr><br>
      {% endfor %}

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </body>
</html>